<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>First name:</b>
  <%= @question.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @question.last_name %>
</p>

<p>
  <b>Company:</b>
  <%= @question.company %>
</p>

<p>
  <b>Street address 1:</b>
  <%= @question.street_address_1 %>
</p>

<p>
  <b>Street address 2:</b>
  <%= @question.street_address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @question.city %>
</p>

<p>
  <b>State:</b>
  <%= @question.state %>
</p>

<p>
  <b>Country:</b>
  <%= @question.country %>
</p>

<p>
  <b>Zip code:</b>
  <%= @question.zip_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @question.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @question.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @question.email %>
</p>

<p>
  <b>Website:</b>
  <%= @question.website %>
</p>

<p>
  <b>Subject:</b>
  <%= @question.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>

<p>
  <b>User:</b>
  <%= @question.user %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
