<%= form_for([:admin,@calendar]) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize((@calendar.errors.count), "error") %> prohibited this calendar from being saved:</h2>
      <ul>
        <% @calendar.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :node do |node_f| %>
    <%=node_f.hidden_field :displayed, :value => true %>
  <% end %>
  <p>
    <%= f.label :title, "Calendar Title" %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :banner, "Calendar Banner" %>
    <%= f.cktext_area :banner %>
  </p>

  <fieldset>
    <legend>Calendar Colors</legend>
    <p><span class="hint">Customize your calendar colors</span>
      <%= f.label :event_color, "Event" %>
      <%= f.select :event_color, color_select %>
    </p>

    <p>
      <%= f.label :background_color, "Background" %>
      <%= f.select :background_color, color_select %>
    </p>
  </fieldset>
  
  <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Calendar'} %>
<% end %>
