<%= content_for :head do %>
  <script>
    if (typeof(FoxyDomain) == 'undefined') {
      var FoxyDomain = "KERN-Coin.foxycart.com";
    }
  </script>
  <script src="http://cdn.foxycart.com/yourdomain/foxycart.js"></script>
  <script src="http://cdn.foxycart.com/yourdomain/foxybox.js"></script>
  <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/files/foxybox.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/themes/standard/theme.foxybox.css" type="text/css" media="screen" charset="utf-8" />
<% end %>



<h1 class="title"><%= item.name %></h1>
<div class="full-display product">

  <div class="left">
    <%= link_to image_tag(item.main_image ? item.main_image.full_size_image : "no_image_full_size.gif"), shortcut_path(item.node.first.shortcut) %>
    <% if item.product_images %>
      <% item.product_images.each do |product_image| %>
        <%= link_to (image_tag product_image.preview_image), product_image.full_size_image, :rel => 'group1', :class => 'gallery' %>
      <% end %>
    <% end %>
  </div>

  <div class="right">
    <h3><%= item.name %></h3>
    <p><%= number_to_currency(item.cost) %></p>
    <p><%= item.item_id %></p>
    <p><%=raw item.details %></p>
    <%= link_to 'Add To Cart', "https://KERN-Coin.foxycart.com/cart?name=#{item.name}&price=#{item.cost}&item-id=#{item.item_id}", :class => 'foxycart add-to-cart btn large yellow' %>
  </div>

</div>

