<!-- "/home" url and all dynamic_pages with the template_type = 'Home' -->

<%= content_for :body_id do %>homePage<% end %>
<%= content_for :body_class do %>threeColumn<% end %>

<section id="featured" class="clearfix">
  <div id="wrapper">
    <div id="extraColumn">
      <article  class="browse">
	<h1 class="browse">Browse</h1>
        <p>Search our inventory</p>
        <%= form_tag(inventory_list_path(), :method => 'get', :class => 'search') do %>
          <%= text_field_tag :search_text %>
          <%= select_tag :category_id, options_for_select(categories_for_items(Item.get_for_sale.displayed).map {|category| [category.title, category.id]} << ['Category',''],'') %>
          <%= select_tag :cost_range, options_for_select([['$0 - $10','10'], ['$0 - $50','50'], ['$0 - $100','100'], [' < $500','500'], [' < $1000','1000'], ['Cost', ''] ], '') %>
          <%= submit_tag('Search') %>
        <% end %>

      </article>
    </div>
    <div id="mainColumn">
      <%= render :partial => 'elements/position_elements', :locals => {:position => 2} %>
    </div>
    <div id="subColumn">
      <%= render :partial => 'elements/position_elements', :locals => {:position => 3} %>
    </div>
  </div>
</section>

<nav></nav>

<section id="content" class="clearfix">
  <div id="wrapper">
    <section id="extraColumn" class="contents">
      <img style="padding: 6px 6px 15px;" src="/images/special-offers.png" alt="Special Offers" />
      <%= render :partial => 'elements/position_elements', :locals => {:position => 4} %>
    </section>
    <section id="mainColumn" class="clearfix contents">
      <div id="top"></div>
      <div id="inner">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 5} %>
      </div>
    </section>
    <section id="subColumn" class="clearfix contents">
      <div id="top"></div>
      <div id="inner">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 6} %>
      </div>
    </section>
  </div>
</section>

<section id="homeFooter" class="clearfix">
  <div id="wrapper">
    <!-- Temp fix for category element (COMING SOON) -->
    <%= render :partial => 'elem_partials/category_list_elem' %>
  </div>
</section>

