<!-- "/home" url and all dynamic_pages with the template_type = 'Home' -->

<%= content_for :body_id do %>homePage<% end %>
<%= content_for :body_class do %>threeColumn<% end %>

<section id="featured" class="clearfix">
  <div id="wrapper">
    <div id="extraColumn">
      <article  class="browseElem">
	<h1 class="browse title">Browse</h1>
        <%= form_tag(inventory_list_path(), :method => 'get', :class => 'search') do %>
          <label id="searchLabel">Search our inventory</label>
          <%= text_field_tag :search_text %>
          <%= select_tag :category_id, options_for_select( (( Node.inventory_node.children.categories.collect {|category| [category.page.title, category.page.id] } ) << ['Category','']),'') %>
          <%= select_tag :cost_range, options_for_select([['$0 - $100','0-100'], ['$100 - $2000','100-2000'], ['$2000 - $5000','2000-5000'], ['$5000 - $20000','5000-20000'], ['$20000 > ','20000-1000000000'], ['Cost', ''] ], '') %>
          <%= submit_tag('Search', :id => 'searchButton') %>
        <% end %>

      </article>
    </div>
    <div id="mainColumn">
      <%= render :partial => 'elements/page_area_elements', :locals => {:page_area => 2} %>
    </div>
    <div id="subColumn">
      <%= render :partial => 'elements/page_area_elements', :locals => {:page_area => 3} %>
    </div>
  </div>
</section>

<nav></nav>

<section id="content" class="clearfix">
  <div id="wrapper">
    <section id="extraColumn" class="contents">
      <%= render :partial => 'elements/page_area_elements', :locals => {:page_area => 4} %>
    </section>
    <section id="mainColumn" class="clearfix contents">
      <div id="top"></div>
      <div id="inner">
        <%= render :partial => 'elements/page_area_elements', :locals => {:page_area => 5} %>
      </div>
    </section>
    <section id="subColumn" class="clearfix contents">
      <div id="top"></div>
      <div id="inner">
        <%= render :partial => 'elements/page_area_elements', :locals => {:page_area => 6} %>
      </div>
    </section>
  </div>
</section>

<section id="homeFooter" class="clearfix">
  <div id="wrapper">
    <!-- Temp fix for category element (COMING SOON) -->
    <%= render :partial => 'elem_partials/category_list_elem' %>
  </div>
</section>

