<!-- Element -->
<article  class="post-list">

  <% if admin? %>
    <span class="controls ">
      <%= link_to 'Edit Post', edit_admin_blog_post_path(@blog, post), :class => 'btn small' %>
      <%= link_to 'X', admin_blog_posts_path(@blog, post) , :confirm => "Are you sure?", :method => :delete, :class => 'btn delete small' %>
    </span>
  <% end %>
  <p>
    <span class="title"><%= post.title %></span> &nbsp; &nbsp;
    <span><%= post.created_at.strftime("%I %p - %b %d, %Y") %></span> &nbsp; &nbsp;
    <span class="btn small"><%= link_to 'View Post', shortcut_path(post.node.shortcut) %></span>
  </p>

</article>
<!-- Element -->