<h1><%= @node.title %></h1>
<%=raw @node.page.banner %>
<ul class="blogList">
  <% @node.page.posts.each do |post| %>
    <li>

      <span class="postTitle">
        <%= link_to post.title, shortcut_path(post.node.shortcut) %>
      </span>
      <span class="postDate"><%= post.created_at.strftime("%B %d, %Y %l:%m%p") %> </span>
      <span class="controls">
        <% if admin? %>
          <%= link_to "Edit", edit_admin_blog_post_path(post.blog, post), :class => 'btn small' %>
          <%= link_to "X", admin_blog_post_path(post.blog, post) , :confirm => "Are you sure?", :method => :delete, :class => 'btn small control' %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>

<% content_for :page_admin_bar do %>
  <%= link_to('Blog Settings',  edit_admin_blog_path(@node.page), :class => 'btn large') %>
  <%= link_to('New Post',  new_admin_blog_post_path(@node.page), :class => 'btn large') %>
  <%= link_to('Preview Blog',  '#', :class => 'btn yellow large', :id => 'preview') %>
<% end %>
