<%= form_for([:admin, @item], :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category_id, options_for_select(cat_options_tree_recursive(Category.get_inventory, '')), :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :cost, "Cost" %><br />
    $ <%= f.text_field :cost, :size => 7 %>
  </div>


  <% if f.object.new_record? %>
    <div class="field">
      <%= f.label :item_id, "Item ID" %><br />
      <%= f.text_field :item_id %>
    </div>
    <div class="field">
      <%= f.radio_button :for_sale, true %> &nbsp; <%= f.label :display, "For Sale" %><br />
      <%= f.radio_button :for_sale, false %> &nbsp; <%= f.label :display, "Not For Sale" %>
    </div>
    <div class="field">
    <%= f.radio_button :display, true %> &nbsp; <%= f.label :display, "Display Item" %><br />
    <%= f.radio_button :display, false %> &nbsp; <%= f.label :display, "Don't Display Item" %>
    </div>
  <% end %>


  <% f.fields_for :product_images do |img_form| %>
    <%= render :partial => 'product_image', :locals => { :f => img_form } %>
  <% end %>
  <p><%= add_child_link "Add Product Image", :product_images %></p>
  <%= new_child_fields_template(f, :product_images)%>

  <div class="actions">
    <%= f.submit :disable_with => "Please Wait..." %>
  </div>
<% end %>
