<%= form_for([:admin, @item], :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :node do |node_f| %>
    <fieldset>
      <legend>Page Options</legend>
      <p>This element can <em>optionally</em> be displayed as a page. The effect will be that this page will appear on your site menus and hold a spot within your <b>site heirarchy</b>.</p>
      <%= render :partial => 'admin/default_node_form', :locals => {:f => node_f} %>
    </fieldset>

    <p>
      <%= node_f.label :parent_id, 'Category' %>
      <% if f.object.new_record? %>
        <%= node_f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, '')), :prompt => true %>
      <% else %>
        <%= node_f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, ''), node_f.object.parent_id) %>
      <% end %>
    </p>
  <% end %>

  <p><span class="hint">Be sure to enter a unique item ID.</span>
    <%= f.label :name, "Item Details" %>
    <%= f.text_field :name, :title => "Item Name" %>
    <% if f.object.new_record? %>
      <%= f.text_field :item_id, :title => "Item ID", :style => "width: 100px;" %>
    <% else %>
      <%= f.text_field :item_id, :title => "Item ID", :disabled => true %>
    <% end %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>
  <hr />

  <p>
    <%= f.label :cost, "Price" %>
    $ <%= f.text_field :cost, :size => 7, :style => "width: 70px;", :title => "0.00" %>
  </p>
  <hr />

  <p>
    <%= f.label :for_sale, "Item Options" %>
    <%= f.check_box :for_sale %> List item for sale?
  </p>
  <p>
    <%= f.label :display, raw('&nbsp') %>
    <%= f.check_box :display %> Display publically?
  </p>
  <hr />

  <p><span class="hint">Manage images for this product.</span>
    <% f.fields_for :product_images do |img_form| %>
      <%= render :partial => 'product_image', :locals => { :f => img_form } %>
    <% end %>
    <%= new_child_fields_template(f, :product_images)%>
    <label><%= add_child_link "Add Product Image", :product_images %></label>
  </p>
  <hr />

  <p>
    <%= f.label :submit, raw("&nbsp;") %>
    <% if f.object.new_record? %>
      <%= f.submit "Create Item", :disable_with => "Please Wait..." %>
    <% else %>
      <%= f.submit "Update", :disable_with => "Please Wait..." %>
    <% end %>
    <%= link_to 'Cancel', :back %>
  </p>
<% end %>
