<%= form_for([:admin, @item], :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <%= f.fields_for :node do |node_f| %>
    <p>
      <%= node_f.label :parent_id, 'Category', :class => "req" %>
      <% if f.object.new_record? %>
        <%= node_f.select :parent_id, options_for_select(item_options_tree(Category.all), :prompt => true) %>
      <% else %>
        <%= node_f.select :parent_id, options_for_select(item_options_tree(Category.all), node_f.object.parent_id) %>
      <% end %>
    </p>
  <% end %>

  <p><span class="hint">Be sure to enter a unique item ID.</span>
    <%= f.label :name, "Item Details", :class => "req" %>
    <%= f.text_field :name, :title => "Item Name" %>
    <% if f.object.new_record? %>
      <%= f.text_field :item_id, :title => "Item ID", :style => "width: 100px;" %>
    <% else %>
      <%= f.text_field :item_id, :title => "Item ID", :disabled => true %>
    <% end %>
  </p>
  <p>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </p>
  <hr />

  <p>
    <%= f.label :cost, "Price" %>
    <%= f.text_field :cost, :size => 7, :style => "width: 70px;", :value => number_to_currency(@item.cost) %>
  </p>
  <hr />

  <p>
    <%= f.label :for_sale, "Item Options" %>
    <%= f.check_box :for_sale %> List item for sale?
  </p>
  <p>
    <%= f.label :display, raw('&nbsp') %>
    <%= f.check_box :display %> Display publically?
  </p>
  <hr />

  <p><span class="hint">Manage images for this product.</span>
    <% f.fields_for :product_images do |img_form| %>
      <%= render :partial => 'product_image', :locals => { :f => img_form } %>
    <% end %>
    <%= new_child_fields_template(f, :product_images)%>
    <label><%= add_child_link "Add Product Image", :product_images %></label>
  </p>
  <hr />

  <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Item'} %>
</fieldset>
<% end %>
