<%= form_for([:admin, @item], :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field"><span class="hint">Add This product to multiple Inventory Categories.</span>
      <label>Categorize</label><br />
      <% f.fields_for :nodes do |nodes_form| %>
        <%= render :partial => 'node', :locals => { :f => nodes_form } %>
      <% end %>
      <%= new_child_fields_template(f, :nodes)%>
      <label><%= add_child_link "Add Category", :nodes %></label>
    </div>
    
    <hr />

    <div class="field"><span class="hint">Be sure to enter a unique item ID.</span>
      <%= f.label :name, "Item Details", :class => "req" %>
      <%= f.text_field :name, :title => "Item Name" %>
      <% if f.object.new_record? %>
        <%= f.text_field :item_id, :title => "Item ID", :style => "width: 100px;" %>
      <% else %>
        <%= f.text_field :item_id, :title => "Item ID", :disabled => true %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :details %>
      <%= f.text_area :details %>
    </div>
    <hr />

    <div class="field">
      <%= f.label :cost, "Price" %>
      <% val = (@item.cost > 0) ? @item.cost : "0.00"  %>
      $ <%= f.text_field :cost, :style => "width: 70px;", :title => val, :value => val %>
    </div>
    <hr />

    <div class="field">
      <%= f.label :for_sale, "Item Options" %>
      <%= f.check_box :for_sale %> List item for sale?
    </div>
    <div class="field">
      <%= f.label :display, raw('&nbsp') %>
      <%= f.check_box :display %> Display publically?
    </div>
    <hr />

    <div class="field"><span class="hint">Manage images for this product.</span>
      <% f.fields_for :product_images do |img_form| %>
        <%= render :partial => 'product_image', :locals => { :f => img_form } %>
      <% end %>
      <%= new_child_fields_template(f, :product_images)%>
      <label><%= add_child_link "Add Product Image", :product_images %></label>
    </div>
    <hr />

    <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Item'} %>
  </fieldset>
<% end %>
