<div class="child-field field">
  <label>
  </label>
  <% if f.object.new_record? %>
    <%= f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, '')), {:prompt => true}%>
  <% else %>
    <%= f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, ''), f.object.parent_id) %>
  <% end %>
  <% if f.object.new_record? %>
    <%= link_to "Remove", 'javascript:void(0)', :class => 'remove-new-child' %>
  <% else %>
    <%= link_to "Remove", 'javascript:void(0)', :class => 'remove-old-child' %>
    <%= f.hidden_field :_destroy, :class => 'destroy-field', :value => '0' %>
  <% end %>
  <% if f.object.new_record? %>
    <%= link_to "Remove", 'javascript:void(0)', :class => 'remove-new-child' %>
  <% else %>
    <%= link_to "Remove", 'javascript:void(0)', :class => 'remove-old-child' %>
    <%= f.hidden_field :_destroy, :class => 'destroy-field', :value => '0' %>
  <% end %>
</div>
