<div class="fields">
  <label><%= remove_child_link "Remove", f %></label>
  <% if f.object.new_record? %>
    <%= f.file_field :image %><br />
    <label>&nbsp;</label>
    <%= f.check_box :primary_image, :class => 'primary-image' %> Primary image?
  <% else %>
    <div class="thumb"><%= image_tag f.object.thumbnail_image %></div>
    <label>&nbsp;</label>
    <%= f.check_box :primary_image, :class => 'primary-image' %> Primary image?
  <% end %>
  <%= f.hidden_field :_destroy, :value => '0' %>
</div>
