<%= form_tag(admin_items_path, :method => :get) do %>
  <tr class="inputRow">

    <!--td></td-->
    <td><%= text_field_tag :item_id,   @full_params[:item_id].blank? ? '' :  @full_params[:item_id] %></td>
    <td><%= text_field_tag :name,   @full_params[:name].blank? ? '' :  @full_params[:name] %></td>
    <td><%= select_tag :category, options_for_select( cat_title_options_tree_recursive(Node.inventory_node,''),  @full_params[:category].blank? ? '' :  @full_params[:category]), :include_blank => true %></td>
    <td style="min-width: 100px;">
      <%= text_field_tag(:min_price,  @full_params[:min_price].blank? ? '' :  @full_params[:min_price], :style => "width: 35px;") -%>
      -
      <%= text_field_tag(:max_price,  @full_params[:max_price].blank? ? '' :  @full_params[:max_price], :style => "width: 35px;") -%>
    </td>
    <td><%= select_tag :displayed, options_for_select([['Yes',db_friendly_boolean(true)],['No',db_friendly_boolean(false)]],  @full_params[:displayed].blank? ? '' :  @full_params[:displayed]), :include_blank => true, :style => "width: 60px;" %></td>
    <td colspan="2">
      <%= submit_tag 'Apply Filter', :disable_with => 'Searching Items...', :class => "btn small yellow"  %>
      <%= link_to 'Reset Filters', reset_filters_admin_items_path(), :method => :post, :class => "btn small reset-filter" %>
    </td>
  </tr>

<% end %>

