<%= form_tag(admin_items_path, :method => :get) do %>
  <tr class="inputRow">
    <!--td></td-->
    <td><%= text_field_tag :item_id,  params[:item_id].blank? ? '' : params[:item_id] %></td>
    <td><%= text_field_tag :name,  params[:name].blank? ? '' : params[:name] %></td>
    <td><%= text_field_tag :category, params[:category].blank? ? '' : params[:category] %></td>
    <td style="min-width: 100px;">
      <%= text_field_tag(:min_price, params[:min_price].blank? ? '' : params[:min_price], :style => "width: 35px;") -%>
      - 
      <%= range_field_tag :max_price, '', :style => "width: 35px;" -%>
    </td>
    <td><%= select_tag :displayed, options_for_select([['Yes','t'],['No','f']], params[:displayed].blank? ? '' : params[:displayed]), :include_blank => true, :style => "width: 60px;" %></td>
    <td colspan="2"><%= submit_tag 'Apply Filter', :disable_with => 'Searching Items...', :class => "btn small yellow"  %></td>
  </tr>
<% end %>
