<h1 class="title">Items</h1>

<p><%= link_to 'New Item', new_admin_item_path, :class => "btn large" %></p>

<table>
  <tr>
    <th>Item</th>
    <th>Name</th>
    <th>Price</th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td class="itemThumb">
	<%= link_to (item.main_image ? image_tag(item.main_image.thumbnail_image) : image_tag("items/no_image.gif") ), shortcut_path(item.node.shortcut) %>
      </td>
      <td><%= item.name %></td>
      <td><%= number_to_currency(item.cost) %></td>
      <td><%= link_to 'Show', shortcut_path(item.node.shortcut), :class => "btn small" %></td>
      <td><%= link_to 'Edit', edit_admin_item_path(item), :class => "btn small" %></td>
      <td><%= link_to 'Delete', admin_item_path(item), :confirm => 'Are you sure?', :method => :delete, :class => "btn small" %></td>
    </tr>
  <% end %>
</table>
