<h3><%= @item.name %></h3>

<div class="image">
  <% if @item.main_image %>
    <%= image_tag @item.main_image.full_size_image %>
  <% else %>
    <%= image_tag "items/no_image.gif" %>
  <% end %>
</div>

<p>
  <strong>Item ID: </strong>
  <%= @item.item_id %>
</p>

<p>
  <strong>Details: </strong>
  <%=raw @item.details %>
</p>

<p>
  <strong>Category: </strong>
  <%= @item.category.title %>
</p>

<p>
  <strong>Cost: </strong>
  <%= number_to_currency(@item.cost) %>
</p>

<p>
  <strong>For Sale: </strong>
  <%= @item.for_sale %>
</p>

<p>
  <strong>On Display: </strong>
  <%= @item.display %>
</p>

<% if @item.product_images %>
  <div class="clearfloat">
    <strong>Other Images</strong><br/>
    <% @item.product_images.each do |product_image| %>
      <%= link_to (image_tag product_image.preview_image), product_image.original_image, :rel => 'group1', :class => 'image gallery' %>
    <% end %>
  </div>
<% end %>

<p>
  <%= link_to 'Edit', edit_admin_item_path(@item) %> |
  <%= link_to 'List Items', admin_items_path %>
</p>
