<%= form_for([:admin,@calendar, @event]) do |f| %>
  <% if @event.errors.any?   %>
    <div id="error_explanation">
      <h2><%= pluralize((@event.errors.count), "error") %> prohibited this Event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :node do |node_f| %>
    <p>
      <%= node_f.label :parent_id, 'Calendar' %>
      <%= node_f.select :parent_id, options_from_collection_for_select(Node.where(:page_type => 'Calendar'), :id, :title, @blog.node.id) %>
    </p>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, "Details" %>
    <%= f.cktext_area :description %>
  </p>

  <p>
    <%= f.label :all_day, raw('&nbsp') %>
    <%= f.check_box :all_day %> All day event?
  </p>

  <p>
    <%= f.label :start_at %>
    <%= f.date_select :start_at %>
  </p>

  <p>
    <%= f.label :end_at %>
    <%= f.date_select :end_at %>
  </p>

  <%= f.hidden_field :color, :value => @calendar.event_color  %>

  <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Event'} %>
<% end %>
