<%= form_for([:admin,@text_elem])  do |f| %>
  <% if @text_elem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize((@text_elem.errors.count ), "error") %> prohibited this element from being saved:</h2>
      <ul>
        <% @text_elem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'admin/page_elems/form_element_fields', :locals => {:form => f} %>


  <div class="field">
    <%= f.label :text, 'Body' %><br />
    <%= f.cktext_area :text %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>