<!-- Element -->
<article  class="text">
  <% if element.display_title %><h1 class="title  <%= element.html_id %> "><%= element.title %></h1><% end %>
  <%= render :partial => "elem_partials/#{(element.elem_type.tableize).singularize}", :locals => {:elem => element.elem} %>
  <%= admin_area do %>
    <%= link_to 'Edit Element', get_elem_link_to_action(element, 'edit') %>
    <%= link_to 'Destroy Element', element_path(element, :shortcut => @node.shortcut) , :confirm => "Are you sure?", :method => :delete %>
  <% end %>
</article>
<!-- Element -->