<%= form_for([:admin,@dynamic_page]) do |tf| %>
  <% if @dynamic_page.errors.any?   %>
    <div id="error_explanation">
      <h2><%= pluralize((@dynamic_page.errors.count), "error") %> prohibited this Page from being saved:</h2>
      <ul>
        <% @dynamic_page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= tf.fields_for :node do |f| %>
      <p>
        <%= f.label :displayed, raw("&nbsp;") %>
	<%= f.check_box :displayed %> Display Page?
      </p>
      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>
      <p><span class="hint">This is how the page will appear in your dynamic menus.</span>
        <%= f.label :menu_name, "Menu Name" %>
        <%= f.text_field :menu_name %>
      </p>
      <p>
        <%= f.label :shortcut %>
        http://localhost/<%= f.text_field :shortcut %>
      </p>
      <hr />
      <p><span class="hint">Select where this page should exist within the site heirarchy.</span>
        <%= f.label :node_id, "Parent" %>
	<% unless @dynamic_page.node == @home_node %>
          <%= f.select :parent_id, options_for_select(dynamic_pages_options_tree_recursive(@home_node, "")) %>
	<% else %>
          <%= f.select :parent_id, [["Home", ""]], :disabled => true %>
	<% end %>
      </p>
      <hr />
  <% end %>

  <p><span class="hint">Choose the template you would like this page to use.</span>
    <%= tf.label :template_name, "Template Type" %>
    <%= tf.select :template_name, [ "Home", "Inside" ] %>
  </p>
  <hr />
  <p>
    <%= tf.label :submit, raw("&nbsp;") %>
    <%= tf.submit "Update" %> <%= link_to 'Cancel', :back %>
  </p>
<% end %>
