<h1>List of Pages</h1>

<p><%= link_to 'New Page', new_admin_dynamic_page_path, :class => "btn large" %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Shortcut</th>
    <th>Template</th>
    <th>Displayed</th>
  </tr>

  <% @dynamic_pages.each do |dynamic_page| %>
    <tr>
      <td><%= dynamic_page.node.title %></td>
      <td><em><%= dynamic_page.node.shortcut %></em></td>
      <td><%= dynamic_page.template_name %></td>
      <td><%= dynamic_page.node.displayed ? "Yes" : "No" %></td>
      <td><%= link_to 'Show', shortcut_path(dynamic_page.node.shortcut), :class => "btn small" %></td>
      <td><%= link_to 'Edit', edit_admin_dynamic_page_path(dynamic_page), :class => "btn small" %></td>
      <td><%= link_to 'Destroy', admin_dynamic_page_path(dynamic_page), :confirm => 'Are you sure?', :method => :delete, :class => "btn small" %></td>
    </tr>
  <% end %>
</table>

<p>
  <%#=raw display_menu_list() %>
</p>
