<% if admin? %>
  <span class="controls">
    <%= link_to 'Edit', edit_admin_blog_elem_path(elem.id), :class => 'btn small' %>
    <%= link_to 'X', admin_blog_elem_path(elem, :shortcut => @node.shortcut) , :confirm => "Are you sure?", :method => :delete, :class => 'btn delete small' %>
  </span>
<% end %>

<% if elem.element.display_title %><h1 class="title  <%= elem.element.html_id %> "><%= elem.element.title %></h1><% end %>

<a class="rss" href="/feed">Subscribe</a>
<% if elem and elem.blog %>
  <% @posts = elem.blog.posts.limit(elem.limit || 5) %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h2 class="postTitle"><%= link_to post.title, shortcut_path(post.node.shortcut) %></h2>
        <div class="postInfo"><span class="postDate"><%= post.updated_at.strftime("%I %p - %b %d, %Y") %> </span></div>
      </li>
    <% end %>
  </ul>
<% end %>