<% if admin? %>
  <span class="controls">
    <%= link_to 'Add Event', new_admin_calendar_event_path(elem.calendar), :class => 'btn small' %>
    <%#= link_to 'Manage Events', shortcut_path(elem.calendar.node.shortcut), :class => 'btn small' %>
    <%= link_to 'Settings', edit_admin_calendar_elem_path(elem), :class => 'btn small' %>
    <%= link_to image_tag("delete.png", :alt => 'X'), admin_calendar_elem_path(elem), :confirm => "Are you sure you wish to delete this element?", :method => :delete, :class => 'control' %>
    <%= render :partial => 'elements/element_controls', :locals => {:element => elem.element} %>
  </span>
<% end %>

<%
calendar = elem.calendar
events = calendar.events
if (elem.display_type_partial == "event_list")
   events = events.limit(elem.max_events_shown) unless elem.max_events_shown.nil?
   events = events.where("events.start_at >= ?", elem.max_days_in_past.days) unless elem.max_days_in_past.nil?
   events = events.where("events.end_at >= ?", elem.max_days_in_future.days) unless elem.max_days_in_future.nil?
end
%>


<% if elem.element.display_title %><h1 class="title  <%= elem.element.html_id %> "><%= elem.element.title %></h1><% end %>
<%= render :partial => "elem_partials/calendar_elem_partials/#{elem.display_type_partial}", :locals => {:calendar => calendar, :events => events} %>
