<p>Search our inventory</p>

<%= form_tag(inventory_list_path(), :method => 'get', :class => 'search') do %>
  <%= text_field_tag :search_text %>
  <%= select_tag :category_id, options_for_select(categories_for_items(Item.get_for_sale.displayed).map {|category| [category.title, category.id]} << ['Category',''],'') %>
  <%= select_tag :cost_range, options_for_select([['$0 - $10','10'], ['$0 - $50','50'], ['$0 - $100','100'], [' < $500','500'], [' < $1000','1000'], ['Cost', ''] ], '') %>
  <%= submit_tag('Search') %>
<% end %>