<% if admin? %>
  <span class="controls">
    <%= link_to 'Edit Item', edit_admin_item_path(elem.item), :class => 'btn small' %>
    <%= link_to 'Settings', edit_admin_item_elem_path(elem), :class => 'btn small' %>
    <%= link_to image_tag("delete.png", :alt => 'X'), admin_item_elem_path(elem) , :confirm => "Are you sure?", :method => :delete, :class => 'control' %>
    <%= render :partial => 'elements/element_controls', :locals => {:element => elem.element} %>
  </span>
<% end %>

<% item = elem.item %>


<% if elem.element.display_title %><h1 class="title  <%= elem.element.html_id %> "><%= elem.element.title %></h1><% end %>

<%= render :partial => "elem_partials/item_elem_partials/#{elem.display_type_partial}", :locals => {:item => item} %>
