<% if admin? %>
  <span class="controls">
    <%= link_to 'Edit', edit_admin_text_elem_path(elem), :class => 'btn small' %>
    <%= render :partial => 'elements/element_controls', :locals => {:element => elem} %>
  </span>
<% end %>

<% if elem.element.display_title %><h1 class="title  <%= elem.element.html_id %> "><%= elem.element.title %></h1><% end %>    

<%=raw elem.text %>

