<% post_months = posts.group_by {|post| post.created_at.beginning_of_month } %>

<ul>
  <% post_months.keys.sort.each do |month| %>
    <li>
      <h2 class="postMonth"><%= month.strftime("%B %Y") %></h2>
      <div class="postInfo"><%= post_months[month].size %> posts</div>
      <ul>
        <% for post in post_months[month] %>
          <li>
	    <h2 class="postTitle">
	      <% if admin? %><%= link_to (image_tag "edit.png", :alt => "Edit"), edit_admin_blog_post_path(blog, post) %><% end %> 
	      <%= link_to post.title, shortcut_path(post.node.shortcut) %>
	    </h2>
	    <p class="postInfo">
	      <span class="postDate"><%= post.created_at.strftime("%B %d, %Y %l:%m%p") %></span>
	    </p>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
