<h1>Admin</h1>
<ul>
  <li><%= link_to 'Pages', admin_templates_path %></li>
  <li><%= link_to 'Categories', admin_categories_path %></li>
  <li><%= link_to 'Items', admin_items_path %></li>
  <li><%= link_to 'Client Messages', admin_questions_path %></li>
  <li><%= link_to 'Blogs', admin_blogs_path %></li> 
</ul>