<% item = defined?(locals[:item]) ? locals[:item] : @item %>

<h3><%= item.name %></h3>

<div class="image">
  <strong>Main Image</strong><br/>
  <%= image_tag item.main_image.display_image %>
</div>

<p>
  <strong>Item ID: </strong>
  <%= item.item_id %>
</p>

<p>
  <strong>Details: </strong>
  <%=raw item.details %>
</p>

<p>
  <strong>Category: </strong>
  <%= item.category.title %>
</p>

<p>
  <strong>Cost: </strong>
  <%= number_to_currency(item.cost) %>
</p>

<p>
  <strong>For Sale: </strong>
  <%= item.for_sale %>
</p>

<p>
  <strong>On Display: </strong>
  <%= item.display %>
</p>

<% if item.product_images %>
  <div class="clearfloat">
    <strong>Other Images</strong><br/>
    <% item.product_images.each do |product_image| %>
      <%= link_to (image_tag product_image.thumbnail_image), product_image.display_image, :rel => 'group1', :class => 'image gallery' %>
    <% end %>
  </div>
<% end %>