<p>
  <b>Title:</b>
  <%= @node.title %>
</p>

<p>
  <b>Menu name:</b>
  <%= @node.menu_name %>
</p>

<p>
  <b>Shortcut:</b>
  <%= @node.shortcut %>
</p>

<p>
  <b>Displayed:</b>
  <%= @node.displayed %>
</p>

<% if @template %>
  <p>
    <b>Template Name</b>
    <%= @template.template_name %>
  </p>
<% end %>


<%= link_to 'Edit', edit_admin_node_path(@node) %> |
<%= link_to 'Back', admin_nodes_path %>
