<div class="field">
  <%= label_tag :title, 'Title' %><br/>
  <%= text_field_tag :title, @element.title %>  &nbsp;
  <%= check_box_tag :display_title, true, :checked=>@element.display_title %> &nbsp;
  <%= label_tag :display_title, 'Display Title?' %>

  <%= hidden_field_tag :column_order, @element.column_order %>
  <%= hidden_field_tag :position, @element.position %>
  <%= hidden_field_tag :shortcut, @shortcut %>
</div>