<%= form_for([:admin,@blog_elem])  do |f| %>
  <% if @blog_elem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize((@blog_elem.errors.count ), "error") %> prohibited this element from being saved:</h2>
      <ul>
        <% @blog_elem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'admin/page_elems/form_element_fields', :locals => {:f => f} %>

  <div class="field">
    <%= f.label :blog_id %><br />
    <%= f.select( :blog_id, options_for_select(Blog.all.map {|blog| [blog.node.title, blog.id]}) ) %>
  </div>


  <% if f.object.new_record? %>
    <div class="field">
      <%= link_to 'Create New Blog', new_admin_blog_path %>
    </div>
    <div class="field">
      <%= f.label :display_type %>
      <%= f.select :display_type, options_for_select(BlogElem.display_type_select) %>
    </div>
  <% else %>
    <%= link_to 'Edit Blog', edit_admin_blog_path(f.object.blog_id) %>
    <div class="field">
      <%= f.label :display_type %>
      <%= f.select :display_type, options_for_select(BlogElem.display_type_select, f.object.display_type) %>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :past_limit, 'Limit latest post displayed:' %><br />
    <%= f.date_select :past_limit %>
  </div>

  <div class="field">
    <%= f.label :count_limit, 'Limit on number of posts displayed:' %><br />
    <%= f.text_field :count_limit %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>