<%= form_for([:admin,@blog, @post]) do |tf| %>
  <% if @post.errors.any?   %>
    <div id="error_explanation">
      <h2><%= pluralize((@post.errors.count), "error") %> prohibited this Blog from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= tf.fields_for :node do |f| %>
    <div class="field">
      <%= f.check_box :displayed %>
      <%= f.label :displayed, "Display Post?" %>
    </div>
    <%= f.hidden_field :node_id, :value => @blog.node %>
  <% end %>

  <div class="field">
    <%= tf.label :title %><br />
    <%= tf.text_field :title %>
  </div>

  <div class="field">
    <%= tf.label :body, "Body" %><br />
    <%= tf.cktext_area :body %>
  </div>


  <div class="actions">
    <%= tf.submit %>
  </div>
<% end %>
