<%= form_for([:admin, @blog, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize((@post.errors.count), "error") %> prohibited this Post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :node do |node_f| %>
    <p>
      <%= node_f.label :parent_id, 'Blog' %>
      <%= node_f.select :parent_id, options_from_collection_for_select(Node.where(:page_type => 'Blog'), :id, :title, @blog.node.id) %>
    </p>
  <% end %>

  <p>
    <%= f.label :title, "Post Title" %>
    <%= f.text_field :title %>
  </p>
  <hr />

  <p>
    <%= f.cktext_area :body %>
<<<<<<< HEAD
  <p>
=======
  </p>
>>>>>>> f6184b352ab57e7956a32d25dd24e55de4a70926

  <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Post'} %>
<% end %>
