<h1>Listing Questions</h1>

<table>
  <tr>
    <th><%= sortable "created_at", "Date" %></th>
    <th><%= sortable "last_name", "Last Name" %></th>
    <th><%= sortable "subject", "Subject" %></th>
    <th></th>
    <th></th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.created_at %></td>
      <td><%= question.last_name %>, <%= question.first_name %></td>
      <td><%= question.subject %></td>
      <td><%= link_to 'Show', admin_question_path(question), :class => "btn small"  %></td>
      <td><%= link_to 'Destroy', admin_question_path(question), :confirm => 'Are you sure?', :method => :delete, :class => "btn small"  %></td>
    </tr>
  <% end %>
</table>

<div class="pagination"><%= will_paginate @questions %></div>