<h1>Administrative Home</h1>
<%= link_to "Pages Admin", admin_pages_path %>
<%= link_to "Categories Admin", admin_categories_path %>
<%= link_to "Items Admin", admin_items_path %>
<%= link_to "Users Admin", admin_users_path %>
<%= link_to "View Sales", admin_users_path %>
<%= link_to "View Sales Reports", admin_users_path %>