<li title="<%= category.description || 'No Description' %>">
  <%= link_to category.title, category.node.url %> &nbsp;

  <span class="right">
  <%= link_to 'Edit', edit_admin_category_path(category), :class => "btn small" %>
  <%#= link_to raw('&uarr;'), move_up_admin_category_path(category), :class => "btn small", :method => :post %>
  <%#= link_to raw('&darr;'), move_down_admin_category_path(category), :class => "btn small", :method => :post %>
  <%= link_to 'X', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete, :class => "btn small" %>
  </span>

<% unless category.node.children.categories.empty? %>
  <ul>
    <% category.node.children.categories.each do |node| %>
      <%= render :partial => 'category', :locals => {:category => node.page} %>
    <% end %>
  </ul>
<% end %>
</li>
