<%= form_for([:admin,@category], :html => { :multipart => true }) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= f.fields_for :node do |node_f| %>
    <fieldset>
      <legend>Page Options</legend>
      <p>This element can <em>optionally</em> be displayed as a page. The effect will be that this page will appear on your site menus and hold a spot within your <b>site heirarchy</b>.</p>
      <%= render :partial => 'admin/default_node_form', :locals => {:f => node_f} %>
    </fieldset>

    <p>
      <% unless f.object.title == 'Inventory' %>
        <%= node_f.label :parent_id, 'Parent Category' %>
        <% if f.object.new_record? %>
          <%= node_f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, '')), :prompt => true %>
        <% else %>
          <%= node_f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, ''), node_f.object.parent_id) %>
        <% end %>
      <% else %>
        <%= node_f.label :parent_id, raw('&nbsp;') %>
        <%= node_f.hidden_field :parent, :value => Node.root %>
      <% end %>
    </p>
  <% end %>

  <p>
    <%= f.label :title, "Category Name" %>
    <%= f.text_field :title %>
  </p>
  <p><span class="hint">Describe the items in this category. The description is often prominently displayed on the listing page for the category).</span>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <hr />
  <p><span class="hint">Upload an image to represent the category.</span>
    <%= f.label :image, 'Category Image' %>
    <% unless f.object.new_record? %>
      <strong>Current Image:</strong><br/>
      <%= image_tag (f.object.original_image) %><br/>
    <% end %>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :submit, raw("&nbsp;") %>
    <% if f.object.new_record? %>
      <%= f.submit "Create Category", :disable_with => "Please Wait..." %>
    <% else %>
      <%= f.submit "Update", :disable_with => "Please Wait..." %>
    <% end %>
    <%= link_to 'Cancel', :back %>
  </p>
<% end %>
