<%= form_for([:admin,@category], :html => { :multipart => true }) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= f.fields_for :node do |node_f| %>
    <%= render :partial => 'admin/default_node_form', :locals => {:f => node_f} %>
    <% unless f.object.title == 'Inventory' %>
      <div class="field">
        <%= node_f.label :parent_id, 'Parent Category' %><br />
        <% if f.object.new_record? %>
          <%= node_f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, '')), :prompt => true %>
        <% else %>
          <%= node_f.select :parent_id, options_for_select(cat_options_tree_recursive(Category.get_inventory.node, ''), node_f.object.parent_id) %>
        <% end %>
      </div>
    <% else %>
      <%= node_f.hidden_field :parent, :value => Node.root %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <% unless f.object.new_record? %>
      <strong>Current Image:</strong><br/>
      <%= image_tag (f.object.original_image) %><br/>
    <% end %>
    <%= f.file_field :image %> &nbsp;
    <%= f.label :image, 'Upload Category Image' %>
  </div>

  <div class="actions">
    <%= f.submit :disable_with => "Please Wait..." %>
  </div>
<% end %>
