<h1><%= @category.title %></h1>
<p><%= @category.description %></p>
<hr />
<% if !@category.items.empty? %>
  <ul class="itemList">
    <% @category.items.each do |item|%>
    <li>
      <div class="thumbnail">
	<%= link_to image_tag(item.main_image ? item.main_image.thumbnail_image : "no_image_thumb.gif"), inventory_item_path(item) %>
      </div>
      <p class="title"><%= link_to item.name, inventory_item_path(item) %></p>
      <!--p class="cost"><%= number_to_currency(item.cost) %></p-->
    </li>
    <% end %>
  </ul>
<% else %>
  <ul class="categoryList">
    <% @category.children.each do |child|%>
    <li>
      <div class="thumbnail">
	<%= link_to image_tag(child.thumbnail_image ? child.thumbnail_image : "no_image_thumb.gif"), inventory_category_path(child) %>
      </div>
      <p class="title"><%= link_to child.title, inventory_category_path(child) %></p>
    </li>
    <% end %>
  </ul>
<% end %>
