<h1 class="title">Items</h1>

  <% unless @items.empty? %>
    <ul class="itemList">
      <% @items.each do |item|%>
        <%= content_tag_for :li, item do %>
          <div class="thumbnail"> <%= link_to image_tag(item.thumbnail_image ? item.thumbnail_image : "no_image_thumb.gif"), shortcut_path(item.node.shortcut) %> </div>
          <p class="title"><%= link_to item.name, shortcut_path(item.node.shortcut) %></p>
          <p class="cost"><%= number_to_currency(item.cost) %></p>
        <% end %>
      <% end %>
    </ul>
    <hr/>
    <div class="pagination"><%= will_paginate @items %></div>
  <% else %>
    <p>No items matched your search.</p>
  <% end %>

<!-- Content_for components to insert into static_page -->
<%= content_for :subColumn do %>
  <h3>Search Results</h3>
<% end %>

<%= content_for :breadcrumb do %>
  <div class="breadcrumb"><a href="/">Home</a> &gt; <div class="nav-menu"><a href="/">Inventory</a> &gt; Search Results</div></div>
<% end %>

<% content_for :page_title do %>
  Search Results
<% end %>
<!-- End -->
