<h1 class="title">Items</h1>


<% unless @items.empty? %>
  <table>
    <tr>
      <th></th>
      <th><%= sortable "item_id", "Item ID", @parameters %></th>
      <th><%= sortable "name", "Name", @parameters %></th>
      <th><%= sortable "cost", "Price", @parameters %></th>
    </tr> 
    <% @items.each do |item| %>
      <% if item.nodes.any? %>
        <tr>
          <td class="itemThumb"> <%= link_to(image_tag(item.thumbnail_image), shortcut_path(item.nodes.first.shortcut))  %> </td>
          <td><%= item.item_id %></td>
          <td><%= link_to item.name, shortcut_path(item.nodes.first.shortcut) %></td>
          <td><%= number_to_currency(item.cost) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <hr/>
  <div class="pagination"><%= will_paginate @items %></div>

<% else %>
  <p>No items matched your search.</p>
<% end %>

<!-- Content_for components to insert into static_page -->
<%= content_for :subColumn do %>
  <h3>Search Results</h3>
<% end %>

<%= content_for :breadcrumb do %>
  <div class="breadcrumb"><a href="/">Home</a> &gt; <a href="/">Inventory</a> &gt; <%= link_to 'Search Results', {}.merge(@parameters) %></div>
<% end %>

<% content_for :page_title do %>
  Search Results
<% end %>
<!-- End -->
