<% if @node.template and @node.template.template_name == "Home" %>

  <section id="featured" class="clearfix">
    <div id="wrapper">
      <div id="extraColumn">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 2} %>
      </div>
      <div id="mainColumn">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 3} %>
      </div>
      <div id="subColumn">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 4} %>
      </div>
    </div>
  </section>

  <nav></nav>

  <section id="content" class="clearfix">
    <div id="wrapper">
      <section id="extraColumn" class="contents">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 5} %>
      </section>
      <section id="mainColumn" class="clearfix contents">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 6} %>
      </section>
      <section id="subColumn" class="clearfix contents">
        <%= render :partial => 'elements/position_elements', :locals => {:position => 7} %>
      </section>
    </div>
  </section>

  <section id="homeFooter" class="clearfix">
    <div id="wrapper">
      <%= render :partial => 'elements/position_elements', :locals => {:position => 1} %>
    </div>
  </section>


<% end %>