<% @category = @node.page
children = @node.children.displayed  %>
<% if admin? %>
  <% content_for :page_admin_bar do %>
    <%= link_to 'Delete Category', admin_category_path(@category) , :confirm => "Are you sure you want to delete this category?", :method => :delete, :class => 'btn large' %>
    <%= link_to 'Edit Category', edit_admin_category_path(@category), :class => 'btn large' %>
  <% end %>
<% end %>

<h1><%= @category.title %></h1>
<p><%= @category.description %></p>
<hr />

<% if children %>
  <% item_nodes = children.items.order('nodes.title DESC')
  cat_nodes = children.categories %>

  <% unless item_nodes.empty? %>
    <ul class="itemList">
      <% item_nodes.each do |child|%>
	<% if child.page.display %>
          <%= content_tag_for :li, child do %>
            <div class="thumbnail"> <%= link_to image_tag(child.page.thumbnail_image ? child.page.thumbnail_image : "no_image_thumb.gif"), shortcut_path(child.shortcut) %> </div>
            <p class="title"><%= link_to (child.page.name + " " + child.page.item_id), shortcut_path(child.shortcut) %></p>
            <p class="cost"><%= number_to_currency(child.page.cost) %></p>
          <% end %>
	<% end %>
      <% end %>
    </ul>
    <hr/>
  <% end %>


  <% unless cat_nodes.empty? %>
    <h3>Sub-categories</h3>
    <ul class="categoryList">
      <% cat_nodes.each do |child|%>
        <%= content_tag_for :li, child do %>
          <div class="thumbnail"> <%= link_to image_tag(child.page.thumbnail_image ? child.page.thumbnail_image : "no_image_thumb.gif"), shortcut_path(child.shortcut) %> </div>
          <p class="title"><%= link_to child.page.title, shortcut_path(child.shortcut) %>
	    <% if child.page.item_count > 0 %> <em>(<%= child.page.item_count %>)</em> <% end %>
	  </p>
	<% end %>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>This category has no items or sub categories</p>
<% end %>


<!-- Content_for components to insert into static_page -->
<%= content_for :subColumn do %>
  <h3><%= @node.menu_name %></h3>
  <div id="categorySub">
    <%= render_navigation(:level => 2..10) %>
  </div>
<% end %>

<%= content_for :breadcrumb do %>
  <%= render :partial => 'layouts/site_partials/breadcrumb' %>
<% end %>


<% content_for :page_title do %>
  <%= @node.title %>
<% end %>
<!-- End -->
