<h1>Users Admin</h1>
<table>
  <tr>
    <th>User Login</th>
    <th>Login Count</th>
    <th>Last Login</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <%= render 'partials/user_list', :locals => {:user => user} %>
    <td><%= link_to 'Show', admin_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <%end%>
</table>
<br/>

<%= link_to 'Admin Home', 'home/index' %>