<%= form_for([:admin,@blog]) do |f| %>
  <% if @blog.errors.any?   %>
    <div id="error_explanation">
      <h2><%= pluralize((@blog.errors.count), "error") %> prohibited this Blog from being saved:</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :node do |node_f| %>
    <fieldset class="tab">
      <legend>Page Options</legend>
      <p>This element can <em>optionally</em> be displayed as a page. The effect will be that this page will appear on your site menus and hold a spot within your <b>site heirarchy</b>.</p>
      <%= render :partial => 'admin/default_node_form', :locals => {:f => node_f} %>
    </fieldset>
  <% end %>

  <fieldset>
    <p>
      <%= f.label :banner, "Blog Banner" %>
      <%= f.cktext_area :banner %>
    </p>

    <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Blog'} %>
  </fieldset>
<% end %>
