<h1>Listing Blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Menu name</th>
    <th>Shortcut</th>
    <th>Displayed</th>
  </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.node.title %></td>
      <td><%= blog.node.menu_name %></td>
      <td><%= blog.node.shortcut %></td>
      <td><%= blog.node.displayed %></td>
      <td><%= link_to 'Show', shortcut_path(blog.node.shortcut) %></td>
      <td><%= link_to 'Edit', edit_admin_blog_path(blog) %></td>
      <td><%= link_to 'Destroy', admin_blog_path(blog), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Blog', new_admin_blog_path %> | <%= link_to 'Admin Home', admin_home_path() %>
