<h1>Listing Blogs</h1>

<p><%= link_to 'New Blog', new_admin_blog_path, :class => 'btn large' %></p>

<table>
  <tr>
    <th><%= sortable "title", "Title" %></th>
    <th>Shortcut</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><em><%= blog.node ? link_to(blog.node.shortcut, shortcut_path(blog.node.shortcut)) : 'No Shortcut' %></em></td>
      <td><%= link_to 'List Posts', shortcut_path(blog.node.shortcut), :class => 'btn small' %></td>
      <td><%= link_to 'Settings', edit_admin_blog_path(blog), :class => 'btn small' %></td>
      <td><%= link_to 'Delete', admin_blog_path(blog), :confirm => 'Are you sure you want to delete this blog?', :method => :delete, :class => 'btn small' %></td>
    </tr>
  <% end %>
</table>
<div class="pagination"><%= will_paginate @blogs %></div>
