<%= form_for(:asset, new_asset, :url => admin_site_assets_path, :html => {:multipart => true}) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this Asset from being saved:</h2>

      <ul>
        <% @asset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :data, 'Upload a new image to the server' %><br/>
    <%= f.file_field :data %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => 'Uploading' %>
  </div>
<% end %>