<div class="clearfix">
  <%= form.radio_button :image_id, '' %> &nbsp;
  <%= form.label :image_id, (image_tag 'no_image.gif', :class => 'image') %>
  <% all_image_assets.each do |image_asset| %>
    <%= form.radio_button :image_id, image_asset.id %> &nbsp;
    <%= form.label :image_id, (render :partial => 'admin/site_assets/image_asset', :locals => {:image_asset => image_asset} )%>
  <% end %>

  <div>
    <%= admin_area do %>
      <%= link_to 'Add New Site Image', admin_site_assets_path %>
    <% end %>
  </div>
</div>