<h2>Items For Sale</h2>

<table>
  <tr>
    <th><%= link_to "Item", store_list_path(:sort_by => 'title') %></th>
    <th>Description</th>
    <th><%= link_to "Cost", store_list_path(:sort_by => 'cost') %></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <%= render 'partials/item_list', :locals => {:item => item} %>
      <td><%= item.cost_to_currency %></td>
      <td><%= link_to 'Add To Cart', store_add_to_cart_path(item), :method => :post %></td>
    </tr>
  <% end %>
</table>
