<h3>Admin Tools</h3>
<ul>
  <li><%= link_to "Site Text Sections Admin", admin_site_text_sections_path %></li>
  <li><%= link_to "Site Page Admin", admin_nodes_path %></li>
  <li><%= link_to "News Articles Admin", admin_posts_path %></li>
  <li><%= link_to "Categories Admin", admin_categories_path %></li>
  <li><%= link_to "Store Items Admin", admin_items_path %></li>
  <li><%= link_to "Users Admin", admin_users_path %></li>
</ul>