<li><%= link_to 'Home', home_url %></li>
<li><%= link_to 'About Us', announcements_url %></li>
<li><%= link_to 'Inventory', store_categories_url %></li>
<li><%= link_to 'Archives', home_url %></li>
<li><%= link_to 'Auctions', home_url %></li>
<li><%= link_to 'Contact Us', home_url %></li>
