<!DOCTYPE html>
<html>
  <head>
    <title>KernCoinProject</title>
    <%= stylesheet_link_tag :all %>
    <!-- BEGIN FOXYCART FILES -->
    <script src="http://KERN-Coin.foxycart.com/files/foxycart_includes.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/files/foxybox.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/themes/standard/theme.foxybox.css" type="text/css" media="screen" charset="utf-8" />
    <!-- END FOXYCART FILES -->
    <%= javascript_include_tag 'jquery.min', 'rails.jquery', 'application', 'jquery.colorbox-min'  %>
    <%= javascript_include_tag :ckeditor %>
    <%= yield :javascript %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="page">
      <div id="wrapper" class="clearfloat">
        <div id="header" class="clearfloat"><%= render 'layouts/header' %></div>
        <ul id="nav-menu" class="clearfloat"> <%= render 'layouts/nav_menu' %> </ul>

        <div id="content">
          <% if flash[:notice] %> <p id="notice"><%= notice %></p> <% end %>
          <% if flash[:alert] %> <p id="alert"><%= flash[:alert] %></p><% end %>
          <%= yield %>
        </div>

        <div id="right-panel">
          <% if @cart %>
            <% hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
              <%= render("partials/cart") %>
            <% end %>
          <% end %>
          <div class="panel"><%= render 'layouts/admin' %></div>
          <% unless @user %>
            <div class="panel"><%= render 'layouts/login' %></div>
          <% else %>
            <div class="panel"><%= render 'layouts/logout'%></div>
          <% end %>
        </div>

      </div>
    </div>
  </body>
</html>
