<!DOCTYPE html>
<html>
  <head>
    <title>KernCoinProject</title>
    <%= stylesheet_link_tag :all %>
    <!-- BEGIN FOXYCART FILES -->
    <script src="http://KERN-Coin.foxycart.com/files/foxycart_includes.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/files/foxybox.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="http://KERN-Coin.foxycart.com/themes/standard/theme.foxybox.css" type="text/css" media="screen" charset="utf-8" />
    <!-- END FOXYCART FILES -->
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :ckeditor %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="content">
      <div id="right-panel">
        <div class="panel"><%= link_to 'Home', home_path %></div>
        <% if @cart %>
          <% hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
            <%= render("partials/cart") %>
          <% end %>
        <% end %>
        <div class="panel"><%= render 'layouts/admin' %></div>
        <% unless @user %>
          <div class="panel"><%= render 'layouts/login' %></div>
        <% else %>
          <div class="panel"><%= render 'layouts/logout'%></div>
        <% end %>
      </div>

      <% if flash[:notice] %> <p id="notice"><%= notice %></p> <% end %>
      <% if flash[:important_notice] %> <p id="important-notice"><%= flash[:important_notice] %></p><% end %>

      <%= yield %>
    </div>
  </body>
</html>
