<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'layouts/site_partials/head' %>
    <%= yield :head %>
  </head>

  <body id="<%= content_for?(:body_id) ? yield(:body_id) : 'admin' %>"
	class="<%= content_for?(:body_class) ? yield(:body_class) : 'oneColumn' %>">

    <% if admin? %><%= render :partial => 'layouts/site_partials/page_admin' %><% end %>
    <%= render :partial => 'layouts/site_partials/header' %>


    <%= yield %>

    <%= render :partial => 'layouts/site_partials/footer' %>
  </body>
</html>

